

p {
    margin-left: 1.66%;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    padding-bottom: 20px;
    opacity: .5;
}

.container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photo {
    width: calc(33.3333333% - 20px);
    margin: 1.66%;
    margin-bottom: 20px;
    margin: 10px;
    flex: 1;
}